<ul>
    <li> <a href="/" style="<%= (pages=='home') ? 'background-color: aquamarine;' : '' %>">Home</a></li>
    <li> <a href="/add" style="<%= (pages=='add') ? 'background-color: aquamarine;' : '' %>">Add Contacts</a></li>
    <li> <a href="/viewContacts" style="<%= (pages=='viewContacts') ? 'background-color: aquamarine;' : '' %>">View Contacts</a></li>
</ul>